.app {
  text-align: center;
}

.app-header {
  background-color: #222;
  color: white;
  height: 50px;
  padding: 20px;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.bullet {
  margin: auto;
  max-width: 150px;
}

.icon {
  float: left;
  margin: 0px 10px 5px 10px;
  width: 40px;
}

.label {
  text-align: left;
}

