.app {
  text-align: center;
}

.app-header {
  background-color: #222;
  color: white;
  height: 50px;
  padding: 20px;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.bullet {
  margin: auto;
  max-width: 150px;
  text-align: left;
}

button {
  border: none;
  margin: 2px 0px 2px 0px;
  white-space: nowrap;
  font-size: 1em;
}

*:focus {
  outline: none;
}

#back-btn {
  position: absolute;
  right: 50px;
  top: 150px;
}

.icon {
  float: left;
  margin: 0px 10px 5px 10px;
  width: 40px;
}

.label {
  text-align: left;
}

